<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <!-- The second package is an E2E-only data-isolation peer launched by explicit
             component name. It must not compete with the primary package for launcher
             or auth callback intents, otherwise a provider redirect opens Android's app
             chooser instead of proving Trinity's registered deep-link round trip. -->
        <activity android:name="eu.qwky.trinity.MainActivity">
            <intent-filter tools:node="remove">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter tools:node="remove">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="eu.qwky.trinity" />
            </intent-filter>
        </activity>
    </application>
</manifest>
